
/* SMACSS Style

/*	*************************************
	Base
	************************************* */
html, body {
    margin: 50px;
    height: 100%;
    font-family: 'Prata', sans-serif;
}



body{
	background: brown;
	line-height: 1.5;
	color: white;
}

section {
    min-height: 100%; 
    padding-top: 75px; 
    padding-bottom: 25px; 
    text-align: left; 
}

p { margin-top: 0; }

h1, h2{
	margin-bottom: 50px;
	text-align: center;
	color: white;
	background-color: black; 
	font-family: 'Open Sans', sans-serif;
}


img {
	width: 75%;
	height: 75%
}



form{
	margin-left: 50px;
}

textarea{
	margin-left: 50px;
}

/*	****************************************
	Modules (reusable classes)
	**************************************** */
.main {
	position: fixed; 
	top: 0;
	z-index: 1000; 
	width: 100%; 
	background: black; 
	color: white;
	font-family: 'Open Sans', sans-serif;
}


.main ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	display: flex;
	color:white;
	
}
.main { 
	display: block;
	color: grey;
	text-decoration: none;
}
.main a:hover { color: #ddd; }


.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.content {
	text-align: left;
	overflow: auto;
	display: inline-block;
}



.z {
	display: inline-block;
	width: 47%;
	height: 47%;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}



.f{
	display: inline-block;
	margin-bottom: 50px;
}



/* *****************
   Layout styles
   ***************** */

#z1{
	margin-bottom: 100px;
}


#fp{
	width: 70%;
	text-align: left;
	vertical-align: top;
}

#second img {
	width: 25%;
	height: 25%;
}

#portfolio{
	vertical-align: 50px;
}

#lab6{
	text-align:right;
}

#lab7{
	text-align:right;
}

#project{
	text-align:right;
}



